@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

//Extra-light
$raleway-light-medium:  200 18px 'Raleway', sans-serif;
$raleway-light-large:   200 50px 'Raleway', sans-serif;
$raleway-light-xlarge:  200 70px 'Raleway', sans-serif;
$raleway-light-xxlarge: 200 100px  'Raleway', sans-serif;

//Regular
$raleway-regular-medium:  400 18px 'Raleway', sans-serif;
$raleway-regular-large:   400 50px 'Raleway', sans-serif;
$raleway-regular-xlarge:  400 70px  'Raleway', sans-serif;
$raleway-regular-xxlarge: 400 100px 'Raleway', sans-serif;


//Bold
$raleway-bold-medium:  700 18px 'Raleway', sans-serif;
$raleway-bold-large:   700 50px 'Raleway', sans-serif;
$raleway-bold-xlarge:  700 70px 'Raleway', sans-serif;
$raleway-bold-xxlarge: 700 100px 'Raleway', sans-serif;