//Background-colors
$bg-white: #FFF;
$bg-snow: #FAFAFA;
$bg-quicksilver: #A0A0A0;
$bg-jellybean: #E56353;
$bg-salmon: #E97F72;
$bg-pastelpink: #F0A9A1;
$bg-granitegray: #686963;
$bg-taupegray: #91918D;
$bg-gray: #BABAB8;

//Colors
$color-white: #FFF;
$color-snow: #FAFAFA;
$color-quicksilver: #A0A0A0;
$color-jellybean: #E56353;
$color-salmon: #E97F72;
$color-pastelpink: #F0A9A1;
$color-granitegray: #686963;
$color-taupegray: #91918D;
$color-gray: #BABAB8;


//GRID
$gta-normal: "cabecera"
             "principal"
             "pie";
$gtc-normal: 100%;
$gtr-normal: 970px auto 360px;