.main__contact {
    button {
        border: 3px solid $color-granitegray;
        border-radius: 60px;
        background-color: $bg-snow;
        color: $color-granitegray;
        height: 80px;
        width: 500px;
        font: $raleway-bold-large;
    }
}