@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

.container-xxl {
  .main {
    @include marcarAreaGrilla(principal);
    @include configurarMedidas(4600px, 100%); //final count

    &__products {
      @include configurarMedidas(2100px, 100%); //count in
      @extend %desaparecerBorde;

      .main__description {

        &--bg-color {
          background-color: $bg-granitegray;
        }

        @include configurarMedidas(1050px, 100%);
        @include establecerFlex(column);
        @include alinearComponentes();

        img {
          height: 450px;
          width: 1000px;
          padding-bottom: 20px;
        }
      }

      .main__origin {

        &--bg-color {
          background-color: $bg-white;
        }

        @include configurarMedidas(1050px, 100%);
        @include establecerFlex(column);
        @include alinearComponentes();

        img {
          height: 450px;
          width: 1000px;
          margin-bottom: 20px;
        }
      }
    }

    &__team {

      @include configurarMedidas(2000px, 100%); //count in

      &--bg-color {
        background-color: $bg-snow;
      }

      .main__about-us-text {

        @include configurarMedidas(365px,100%);

        @include establecerFlex();
        @include alinearComponentes();

        &--bg-color {
          background-color: $bg-jellybean;
        }

      }

      .main__members {

        @include configurarMedidas(1635px,100%); //count in

        @include establecerFlex(column, nowrap, 50px);
        @include alinearComponentes();

        .member {

          @include establecerFlex(column);
          @include alinearComponentes();

          img {
            height: 459px;
            width: 452px;
            padding-bottom: 20px;
          }
        }
      }

    }

    &__contact {
      @include configurarMedidas(500px, 100%); //count in

      &--bg-color {
        background-color: $bg-jellybean;
      }

      @include establecerFlex(column, nowrap, 50px);
      @include alinearComponentes();
    }
  }
}